.articleCard {
  margin-bottom: 3rem;
}

.articleCard p {
  margin-bottom: 1rem;
}

.articleCard a {
  /* color: #0058cc; */

  text-decoration: underline;
}

.main {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 7rem;
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  font-family: outfit;
  font-size: 2rem;
  line-height: 2.25rem;
}

.date {
  font-family: var(--font-spacemono);
  font-size: 1.2rem;
}

.body {
  font-size: 1.05rem;
}

.circle {
  width: 250px;
  z-index: 0;
}

.side-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scaledSvg {
  width: 200px;
}

.svgText {
  font-size: 30px;
}

.drawnLine {
  width: 30%;
  height: auto;
  margin: 4rem 0 4rem 0;
}
