.articleCard {
  /* margin-bottom: 8rem; */
}

.articleCard p {
  margin-bottom: 1rem;
}

.articleCard a {
  /* color: #0058cc; */

  text-decoration: underline;
}

.main {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.header {
  margin-bottom: 1.5rem;
}

.date {
}

.body {
}

.h2 {
  position: absolute;
  font-family: knewave;
  font-size: 1.5rem;
  z-index: 1;
}

.circle {
  width: 250px;
  z-index: 0;
}

.side-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scaledSvg {
  width: 200px;
}

.svgText {
  font-size: 30px;
}

.drawnLine {
  width: 100%;
  height: auto;
  margin: 4rem 0 4rem 0;
}
