/* .footer {
  margin-top: 5rem;
} */

.footer {
  margin-top: 5rem;
  padding: 3rem 3rem 2rem 3rem;
  text-align: start;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allIcons {
  display: flex;
}

.icon {
  padding: 0.75rem;
}
