.fullContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 5rem auto;
}

.menuDesktop {
  font-family: var(--font-spacemono);
  text-decoration: underline;
  font-weight: 400;
  display: flex;
  gap: 6rem;
}

.menuDesktop a {
  white-space: nowrap;
  font-size: 1.2rem;
}

.menuDesktop a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menuDesktop {
    display: none;
  }

  .fullContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto 3rem 0rem;
  }
}
