.about {
  margin-bottom: 5rem;
}

.about p {
  margin-bottom: 1.5rem;
}

.section {
  margin-bottom: 2rem;
}

.link {
  color: #0a31c9;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
