.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.projectRow {
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 3rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.projectRow:hover {
  background-color: var(--hover-color);
}

.title {
  margin: 0;
}

.details {
  margin-top: 0.5rem;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.projectRow.expanded .details {
  opacity: 1;
  max-height: 500px; /* enough to show content */
}
